* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, helvetica, sans-serif;

}

.navbar{
    display: flex;
    justify-content: right;
    display: inline-block;
}

.logo{
    display: flex;
    justify-content: right;
    display: inline-block;
}

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li{
    margin: 0 20px;
    padding: 0;
    display: inline-block;
}

body {
    /*background-color: #eeeeea;*/
    text-align: center;
    margin-top: 20px;
    color: #9c333c;
}

.sub-title-container{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
    
}

.description-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.text-oficio{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #1a1617;
    margin-left: 70px;
    margin-right: 70px;
}

body {
    background-image: url(fondo\ de\ maera\ blanco.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    color: black;
}

.mensaje{
   display: block;
   justify-items: left;
    margin-left: 20px;
    margin-top: 20px;

}

.mb-3{
    display: block;
    justify-items: left;
}

.forn-label{

}

.boton-mensaje{
    justify-items: center;
    margin-left: 20px;
    margin-top: 20px;
    width: 120px;
    height: 60px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: orange;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;

}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.wrapper {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container2 {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.container1 {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 800 px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: 6s cubic-bezier(.28,-0.03,0,.99); 
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row {
    color: red;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color:#b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input{
    display: none;
}

input:checked + label {
    width: 600px;
}

input{
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url("https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fG1vYmlsZXxlbnwwfHx8fDE2ODQ5NTY3MjA&ixlib=rb-4.0.3&q=80&w=400");
}

.card[for="c2"] { 
        background-image: url("240_F_622238944_jS1mTNDAxeTWXyvSPQSQgfb1oXBFL3LV.jpg");
    }

.card[for="c3"] {

    background-image: url("91c8fc_5371a5d5635e4dac9f029e5a156b45de~mv2.avif");
}

.card[for="c4"] {

    background-image: url("91c8fc_8022c7b607534b599721c8799e494e01~mv2.avif");
}
.card[for="c5"] {

    background-image: url("91c8fc_cfd16f2ff0f244f1a2d8e3b1c622e452~mv2.avif");
}

.card[for="c6"] {

    background-image: url("240_F_622238859_ki4SFYzlCuPkSuGLuQpUJMCRfLFzAjCN.jpg");
}

.card[for="c7"] {

    background-image: url("240_F_622238944_jS1mTNDAxeTWXyvSPQSQgfb1oXBFL3LV.jpg");
}

.card[for="c8"] {

    background-image: url("240_F_622238944_jS1mTNDAxeTWXyvSPQSQgfb1oXBFL3LV.jpg");
}

.card[for="c9"] {

    background-image: url("240_F_622238963_dPQAaViKi5NMz6OwG5afWkydhUF341Xu.jpg");
}

.card[for="c10"] {

    background-image: url("240_F_622238859_ki4SFYzlCuPkSuGLuQpUJMCRfLFzAjCN.jpg");
}

.card[for="c11"] {

    background-image: url("91c8fc_8022c7b607534b599721c8799e494e01~mv2.avif");
}

.card[for="c12"] {

    background-image: url("240_F_622238895_6ZZzvjbHjCgc5OBQZHINkj1UR6l5BPoS.jpg");
}